#whatcanido {
	text-align: center;
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Stint Ultra Expanded', cursive;


}

#h2whatcanido {
	font-size: 42px;
}

#whatcanido-header {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
	font-family: 'Stint Ultra Expanded', cursive;
}

/*.skill-photo {
	border-radius: 80px;
	overflow: hidden;
	max-width: 160px;
	height: 160px;
	margin: 50px auto -50px auto;
	position: relative;
	top: -80px;
	border: 6px solid rgba(255, 255, 255, .8);
  }
*/

.skill-title {
	color: white ;
	text-align: center;
	font: 1.5rem;
	font-weight: 500;
	margin: 0;
	}

.skill-subtitle {
	color: white;
	text-align: center;
	font-weight: 400;
	font-size: .937rem;
	margin: .25rem;
	}
 

.skill {
		margin-bottom: 30px;
		padding: 0 1.8125rem 1px 1.8125rem;
		color: white;
	}

.skillList {
	padding-top: 10px;
	list-style: none;
	text-align: center;
	position: relative;
	margin-left:-30px;
	font-weight: 600;
	color: white;
}

ul {
	list-style: none;
}


.row-4 {
	position: relative;
	float: left;
	width: 30%;
	margin-left: 3.33%;
	background-color:rgba(165,209,204, .9);
	border-radius: 30px;
}

.text-box {
	line-height: 2rem;
	font-size: 1.5rem;
	border: blue;
	padding: 5px;
}