#whatcanido {
}

#whatcanido-header {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
	font-family: 'Stint Ultra Expanded', cursive;

}

.skill-photo {
	border-radius: 80px;
	overflow: hidden;
	max-width: 160px;
	height: 160px;
	margin: 50px auto -50px auto;
	position: relative;
	top: -80px;
	border: 6px solid rgba(255, 255, 255, .8);
  }

img {
	}

.skill-title {
	color: ;
	text-align: center;
	font: 1.5rem;
	font-weight: 500;
	margin: 0;
	}

.skill-subtitle {
	color: ;
	text-align: center;
	font-weight: 400;
	font-size: .937rem;
	margin: .25rem;
	}
 

.skill {
		margin-bottom: 30px;
		padding: 0 1.8125rem 1px 1.8125rem;
		color: white;
	}

.row-4 {
	position: relative;
	float: left;
	width: 30%;
	margin-left: 3.33%;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));

}

.text-box {
	line-height: 2rem;
	font-size: 1.5rem;
	border: blue;
	padding: 5px;
}